{%- assign recipient_feature_active = false -%}

{%- if product.gift_card? and block.settings.show_gift_card_recipient -%}
  {%- assign recipient_feature_active = true -%}
{%- endif -%}

<div class="product-form__buy-buttons" {{ block.shopify_attributes }}>
  {%- if recipient_feature_active -%}
    <gift-card-recipient class="gift-card-recipient">
      <div class="form__input-wrapper form__input-wrapper--labelled">
        <div class="checkbox-wrapper">
          <input type="checkbox" class="checkbox" name="properties[__shopify_send_gift_card_to_recipient]" id="product-{{ section.id }}-{{ product.id }}-send-gift-card-to-recipient">
          {% render 'icon', icon: 'check' %}
        </div>

        <label for="product-{{ section.id }}-{{ product.id }}-send-gift-card-to-recipient">{{ 'gift_card.recipient.checkbox' | t }}</label>
      </div>

      <div class="gift-card-recipient__fields js:hidden">
        <div class="form__input-wrapper form__input-wrapper--labelled">
          <input id="product-{{ section.id }}-{{ product.id }}-recipient-email" type="email" class="form__field form__field--text" name="properties[Recipient email]" maxlength="138" required value="{{ form.email }}">
          <label for="product-{{ section.id }}-{{ product.id }}-recipient-email" class="form__floating-label">{{ 'gift_card.recipient.email_label' | t }}</label>
        </div>

        <div class="form__input-wrapper form__input-wrapper--labelled">
          <input id="product-{{ section.id }}-{{ product.id }}-recipient-name" type="text" class="form__field form__field--text" name="properties[Recipient name]" value="{{ form.name }}">
          <label for="product-{{ section.id }}-{{ product.id }}-recipient-name" class="form__floating-label">{{ 'gift_card.recipient.name_label' | t }}</label>
        </div>

        <div class="form__input-wrapper form__input-wrapper--labelled">
          <input type="hidden" name="properties[__shopify_offset]" value="" disabled>
          <input id="product-{{ section.id }}-{{ product.id }}-send-on" type="date" class="form__field form__field--date is-filled" pattern="\d{4}-\d{2}-\d{2}" name="properties[Send on]" value="{{ form.send_on }}">
          <label for="product-{{ section.id }}-{{ product.id }}-send-on" class="form__floating-label">{{ 'gift_card.recipient.send_on_label' | t }}</label>
        </div>

        <div class="form__input-wrapper form__input-wrapper--labelled">
          <textarea id="product-{{ section.id }}-{{ product.id }}-recipient-message" rows="4" maxlength="200" class="form__field form__field--textarea" name="properties[Message]">{{ form.message }}</textarea>
          <label for="product-{{ section.id }}-{{ product.id }}-recipient-message" class="form__floating-label">{{ 'gift_card.recipient.message_label' | t }}</label>
        </div>
      </div>
    </gift-card-recipient>
  {%- endif -%}

  <div class="product-form__payment-container">
    <div class="quantity-buy-row">
      <div class="product-form__quantity">
        {%- assign variant = product.selected_or_first_available_variant -%}
        <quantity-picker class="quantity-selector quantity-selector--product">
          <button type="button" class="quantity-selector__button" data-action="decrease-picker-quantity" aria-label="{{ 'cart.items.decrease_quantity' | t }}" title="{{ 'cart.items.decrease_quantity' | t }}">{% render 'icon', icon: 'minus' %}</button>
          <input id="{{ section.id }}-{{ product.id }}-quantity-inline" type="number" name="quantity" aria-label="{{ 'product.form.quantity' | t }}" class="quantity-selector__value" inputmode="numeric" value="{{ variant.quantity_rule.min | default: 1 }}" step="{{ variant.quantity_rule.increment }}" min="{{ variant.quantity_rule.min }}" {% if variant.quantity_rule.max != nil %}max="{{ variant.quantity_rule.max }}"{% endif %}>
          <button type="button" class="quantity-selector__button" data-action="increase-picker-quantity" aria-label="{{ 'cart.items.increase_quantity' | t }}" title="{{ 'cart.items.increase_quantity' | t }}">{% render 'icon', icon: 'plus' %}</button>
        </quantity-picker>
      </div>

      <div class="product-form__buttons">
        {%- if product.template_suffix != 'contact' -%}
          {%- if product.selected_or_first_available_variant == nil -%}
            <button type="button" class="product-form__add-button button button--disabled ui-cta" disabled>{{ 'product.form.unavailable' | t }}</button>
          {%- elsif product.selected_or_first_available_variant.available -%}
            {%- if product.template_suffix == 'pre-order' -%}
              <buy-button class="buy-button">
                <button type="submit" class="product-form__add-button button button--primary ui-cta">{{ 'product.form.pre_order' | t }}</button>
              </buy-button>
            {%- else -%}
              <buy-button class="buy-button">
                <button type="submit" class="product-form__add-button button button--primary ui-cta">{{ 'product.form.add_to_cart' | t }}</button>
              </buy-button>
            {%- endif -%}
          {%- else -%}
            <button type="submit" class="product-form__add-button button button--disabled ui-cta" disabled>{{ 'product.form.sold_out' | t }}</button>
          {%- endif -%}

          {%- if block.settings.show_payment_button and recipient_feature_active == false and product.template_suffix != 'pre-order' -%}
            {{ form | payment_button }}
          {%- endif -%}
        {%- else -%}
          <a href="mailto:{{ shop.email }}" class="button button--primary">{{ 'product.form.contact_us' | t }}</a>
        {%- endif -%}
      </div>
    </div>

    {%- if block.settings.show_payment_button -%}
      {%- unless product.selected_or_first_available_variant.available -%}
        <style>
          #shopify-section-{{ section.id }} .shopify-payment-button {
            display: none;
          }
        </style>
      {%- endunless -%}
    {%- endif -%}
  </div>
</div>
